# virtualenv
env/
venv/
ENV/

# Django stuff:
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class

# Code editors
.vscode
.idea/
*.iws
out/
.idea_modules/


# .DS_Store for OSX
.DS_Store
