<div class="mt-2 col-lg-12">
  <h2 class="mt-2">Change Passwords</h2>
  <hr class="mb-4">

  {% if error_msg is not None %}
    <div class="alert alert-danger alert-dismissible fade show">
      <strong>Error!</strong> {{ error_msg }}

{#      {{ change_password_form.old_password.errors }}#}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% elif success_msg is not None %}
    <div class="alert alert-success alert-dismissible fade show">
      <strong>Success!</strong> {{ success_msg }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% endif %}
  <div class="row">
    {#    <div class="col-md-8">#}
    {#      <form method="post" action="{% url 'edit_profile' %}">#}
    {#        <div class="form-group">#}
    {#          <label for="oldPassword">Old Password</label>#}
    {#          <input type="password" class="form-control" id="oldPassword">#}
    {#        </div>#}
    {#        <div class="form-group">#}
    {#          <label for="password1">New Password</label>#}
    {#          <input type="password" class="form-control" id="password1">#}
    {#        </div>#}
    {#        <div class="form-group">#}
    {#          <label for="password2">Confirm New Password</label>#}
    {#          <input type="password" class="form-control" id="password2">#}
    {#        </div>#}
    {#        <div class="form-group">#}
    {#          <small id="passwordHelp" class="form-text text-muted">#}
    {#            Make sure it's at least 8 characters AND and can't be entirely numeric.#}
    {#          </small>#}
    {#          <button type="submit" class="btn btn-secondary" style="padding: 10px">Update password</button>#}
    {#          <a href="#">I forgot my password.</a>#}
    {#        </div>#}
    {#      </form>#}
    {#    </div>#}
    {#    {{ form.as_p }}#}
    <div class="col-md-8">
      <form method="post">
        {% csrf_token %}
        {% for field in change_password_form %}
          <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
          </div>
        {% endfor %}

        <div class="form-group">
          <small id="passwordHelp" class="form-text text-muted">
            Make sure it's at least 8 characters AND and can't be entirely numeric.
          </small>
          <button type="submit" class="btn btn-secondary" style="padding: 10px">Update password</button>
          <a href="#">I forgot my password.</a>
        </div>
      </form>
    </div>


  </div>
</div>
