.home_subtitle {
	margin-top:20px;
}
.start_button {
	color:#fff;
	vertical-align:middle;
	border-color:#007bff;
	border-radius:5px;
	background-color:#007bff;
	text-align:center;
	width:300px;
	height:48px;
}
center {
	padding:30px;
}
.background_div {
	background:url('/static/img/diet_background.jpg')no-repeat;
	background-size:cover;
	height:550px;
}
.content {
	height:550px;
	background:rgba(255,255,255,0.5);
}
