button.like{
    width: 30px;
    height: 30px;
    margin: 0 auto;
    line-heigth: 50px;
    border-radius: 50%;
    border: none;
    color: #1abc9c;
    background-color: transparent;
    font-size: 20px;
}

button.like:hover {
    font-size: 25px;
}

button.dislike{
    width: 30px;
    height: 30px;
    margin: 0 auto;
    line-heigth: 50px;
    border-radius: 100%;
    border: none;
    color: #e74c3c;
    background-color: transparent;
    font-size: 20px;
}

button.dislike:hover {
    font-size: 25px;
}

button.very-like {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    line-heigth: 50px;
    border-radius: 100%;
    border: none;
    color: #ffa000;
    background-color: transparent;
    font-size: 20px;
}

button.very-like:hover {
    font-size: 25px;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active,
.carousel-inner>.row-equal.next,
.carousel-inner>.row-equal.prev {
    display: flex;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left,
.carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: flex;
}