{% extends 'base.html' %}
{% load static %}
{% block title %}
    Diet Master
{% endblock %}
{% block content %}
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">

        <!-- Bootstrap CSS -->

        <link rel="stylesheet" href="/static/css/home.css">
        
        <title>
        Diet Master
    </title>
      </head>

    <body class="home_component">
        <div class="background_div">
        <div class="content" >
             <center>
                <img src="{% static '/img/WKU.png' %}" width= "80" height="80">
                <h3 class="home_subtitle">Diet Master</h3>
                <div style="height:20px;"></div>
                <button class="start_button" type="start">Start</button>
            </center>
        </div>

        </div>

    </body>

</html>
{% endblock content%}
